.popup__save-button {
    width: 100%;
    margin: 18px 0 0 0;
    padding: 14px 0 10px;
    min-height: 50px;
    background-color: #000;
    border: none;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;

}

.popup__save-button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .8);
}

@media (max-width: 550px) {
    .popup__save-button {
        margin-top: 45px;
        padding-bottom: 14px;
        min-height: 22px;
        font-size: 14px;
        line-height: 17px;
    }
}
