.element {
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-content: stretch;
    position: relative;
}
